In [2]:
a = []
b = [1,2,3]
c = ['My','name','is','MH']
d = [1,2,'My','name']
e = [1,2,['My','name']]

print(a)
print(b)
print(c)
print(d)
print(e)

[]
[1, 2, 3]
['My', 'name', 'is', 'MH']
[1, 2, 'My', 'name']
[1, 2, ['My', 'name']]

In [11]:
# 인덱싱 / 슬라이싱 실습
# 1. 내부의 값이 0부터 9까지 있는 리스트를 하나 만들어주세요
list1 = [0,1,2,3,4,5,6,7,8,9]

In [24]:
# 인덱싱 문제
# 인덱싱을 하는 방법 : 리스트명[가져오고 싶은 자료가 있는 인덱스 번호]
# 1-1. 숫자 4를 가져와보자
list1[4]
# 1-2. 숫자 4,9,7를 가져와보자
list1[4], list1[9], list1[7]

(4, 9, 7)

In [25]:
# 2. 숫자 1,2,3과 ['a','b','b']를 이요해서 2차원 리스트를 만들어보자

In [32]:
list2=[1,2,3,['a','b','c']]
list2

[1, 2, 3, ['a', 'b', 'c']]

In [41]:
# 2-1. temp라는 변수를 지정해서 ['a','b','c']가 들어있는 리스트를 인덱싱 해보자
temp = list2[3]
temp
# 2-2. temp에 저장된 리스트에서 b라는 문자만 인덱싱 해오자
temp[1]

'b'

In [43]:
# 2-2. 다른 형태로 b를 출력해보자
list2[3][1]

'b'

In [45]:
list3 = [[0,1,2,3],
        [4,5,6,7],
        [8,9,10,11],
        [12,13,14,15]]
list3

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11], [12, 13, 14, 15]]

In [53]:
list3[1][1]

5

In [54]:
# 리스트 슬라이싱
# 슬라이싱 규칙
# 1. 인덱스에 숫자는 0부터 시작한다.
# 2. 슬라이싱 끝값은 항상 + 1을 해준다

In [64]:
# list1에서 3부터 7까지의 숫자를 가져와주세요
list1[3:8]

[3, 4, 5, 6, 7]

In [61]:
# list1에서 0부터 4까지의 숫자를 가져와주세요
list1[:5]

[0, 1, 2, 3]

In [63]:
# list1에서 6부터 9까지 숫자를 가져와주세요
list1[6:]

[6, 7, 8, 9]

In [69]:
# 전체 숫자를 가져와주세요
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
list1 + list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [75]:
# 리스트 맨 뒤에 값을 추가해보자
list4 = [1,2,3,4,5]
list4

[1, 2, 3, 4, 5]

In [78]:
# append(추가해줄 값) : 리스트 맨 뒤에 값을 추가해주는 함수
list4.append(6)
list4

[1, 2, 3, 4, 5, 6, 6, 6]

In [96]:
# 인덱싱 + append 실습
list_ = ['사과','포도',['수박','멜론'],'복숭아','딸기','오렌지']
# 뽑아온 과일을 저장할 빈 리스트 만들기
choice_list = []
# choice_list에 담아줄 과일 인덱싱 해오기
a = list_[0]
o = list_[5]
w = list_[2][0]
# choice_list에 쌓아주기
choice_list.append(a)
choice_list.append(o)
choice_list.append(w)

choice_list

['사과', '오렌지', '수박']

In [98]:
list5 = [0,1,2,3,4]
list5

[0, 1, 2, 3, 4]

In [101]:
# insert(인덱스 번호, 넣어줄 값)
list5.insert(1,5)
list5

[0, 5, 5, 1, 5, 2, 3, 4]

In [120]:
# insert 실습
music_list = [['디셈버','심'],
              ['BMK','물들어'],
              ['sg워너비','해바라기']]

In [121]:
# music_list 인덱스가 1인 곳에 ['창모','메테오'] 추가
music_list.insert(1,['창모','메테오'])
music_list

[['디셈버', '심'], ['창모', '메테오'], ['BMK', '물들어'], ['sg워너비', '해바라기']]

In [122]:
# music_list 인덱스가 3인 곳에 ['장미여관','퇴근하겠습니다'] 추가
music_list.insert(3,['장미여관','퇴근하겠습니다'])
music_list

[['디셈버', '심'],
 ['창모', '메테오'],
 ['BMK', '물들어'],
 ['장미여관', '퇴근하겠습니다'],
 ['sg워너비', '해바라기']]

In [123]:
# # music_list 마지막에 ['노라조','니팔자야'] 추가
music_list.append(['노라조','니팔자야'])
music_list

[['디셈버', '심'],
 ['창모', '메테오'],
 ['BMK', '물들어'],
 ['장미여관', '퇴근하겠습니다'],
 ['sg워너비', '해바라기'],
 ['노라조', '니팔자야']]

In [127]:
# 인덱스 번호(정수형) / 가수명 / 노래 제목 입력받는 입력문 만들기 -> 변수에 저장
num = int(input('번호를 입력하세요 >> '))
singer = input('가수명을 적으세요 >>')
title = input('제목을 입력하세요 >> ')

# insert문을 이용해서 music_list에 새로운 값을 추가해주세요
music_list.insert(num,[singer,title])
music_list

번호를 입력하세요 >>

ValueError: invalid literal for int() with base 10: ''

In [133]:
# 리스트 수정
print(f'수정 전 : {list1[5]}')
list1[5] = 10
print(f'수정 후 : {list1[5]}')
list1

수정 전 : 10
수정 후 : 10

[0, 1, 2, 3, 4, 10, 6, 7, 8, 9]

In [137]:
# 여러개의 값을 바꿔보자 - 슬라이싱을 이용하자
list10 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list10[3:7] = [10, 10, 10, 10]
list10

[0, 1, 2, 10, 10, 10, 10, 7, 8, 9]

In [149]:
array = [1,2,3,4,5]
array[4] = 7
array[1] = ['a','b','c']
array[3:] = ['d','e','f','g']
array[0:1] = ['h','i','j']
array

['h', 'i', 'j', ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']

In [158]:
# 리스트 값 삭제
list11 = [0,1,2,3,4,5]

In [159]:
# del 키워드 사용
del list11[5] # 인덱스 번호 넣어주기

In [162]:
# 리스트 값 삭제(여러개의 값)
list11 = [0,1,2,3,4,5]
del list11[1:5]
list11

[0, 5]

In [170]:
# 값을 가지고 삭제 하는 방법 - remove()
list12 = ['a','b','c','d','e','c']
list12

['a', 'b', 'c', 'd', 'e', 'c']

In [171]:
list12.remove('c') # 처음 만나는 해당 값을 지우고 되돌려준다.

In [173]:
list12

['a', 'b', 'd', 'e', 'c']

In [181]:
# 정렬 - sort() : 오름차순 정렬
list13 = [13, 27, 1, 32, 45, 7]
list13.sort()
list13

[1, 7, 13, 27, 32, 45]

In [177]:
# 리스트를 반대로 뒤집는 함수 - reverse()
list13 = [13, 27, 1, 32, 45, 7]
list13.reverse()
list13

[7, 45, 32, 1, 27, 13]

In [182]:
# 내림차순 정렬을 진행해보자
list13 = [13, 27, 1, 32, 45, 7]
list13.sort(reverse = True)
list13

[45, 32, 27, 13, 7, 1]

In [192]:
# 리스트 값 위치 출력 / 제거
list14 = ['a','b','c','d','e']

In [187]:
# 리스트 내부에 위치한 자료의 인덱스를 확인한 방법
list14.index('c')

2

In [193]:
# pop() : 마지막 값을 출력 후 리스트에서 제거
list14.pop()

'e'

In [195]:
list14

['a', 'b', 'c', 'd']

In [198]:
# len(리스트) - 리스트 내부의 값 갯수를 출력할 때 사용
# 반복문의 범위를 정하거나 리스트 내부의 데이터 갯수를 체크할 때 사용
len(list14)

4

In [207]:
a = ()
b = (1,2,3)
c = ('My','name','is','MH')
d = (1,2,'My','name')
e = (1,2,('My','name'))

In [209]:
b[1]

2

In [211]:
b[1:]

(2, 3)

In [213]:
len(b)

3

In [214]:
# in() - 찾고자 하는 값(x)가 포함되었을 때 포함이 되면 True
#      - 아니면 False
# not in() - 찾고자 하는 값(x)가 포함되었을 때 포함이 되면 False
#      - 아니면 True

In [215]:
str1 = '마지막 시간입니다. 여러분들 고생하셨어요!'

In [217]:
'마지막' in str1

True

In [220]:
'첫' in str1

False

In [226]:
list13
45 in list13

True

In [229]:
37 not in list13

True

In [1]:
# 문자열에 사용자가 입력한 글자가 몇개 포함되어있는지 출력을 해주세요
s = 'Hi, my name is dongju'
# 입력문 받기
a = input('검색할 문자를 입력하세요 >> ')
# 우리가 지정한 문장에서 입력받은 글자가 몇개 있는지 체크를 해보자
b = s.count(a)
a in s
if a in s :
    print(f'{a}는 {b}번 들어있어요!')
else :
    print(f'{a}는 없어요..')

검색할 문자를 입력하세요 >> is
is는 1번 들어있어요!