In [1]:
# 예시 함수를 하나 만들어보자
def hello(name) :
    return f"{name}씨 안녕하세요"

In [3]:
hello('동주')

'동주씨 안녕하세요'

In [10]:
hello('지금 졸고 있는 상원')

'지금 졸고 있는 상원씨 안녕하세요'

In [8]:
def number_sum(num1, num2) :
    result = num1 + num2
    return result

In [11]:
number_sum(3,10)

13

In [1]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))

def number_minus(num1, num2) :
    result = num1 - num2
    return result

result = number_minus(num1,num2)
result

첫 번째 정수 입력 >> 10
두 번째 정수 입력 >> 5

5

In [27]:
def cal(num1, num2, op) :
    """ 덧셈과 뺄셈을 해주는 함수 """
    if op =="+":
        result = num1+ num2
    elif op =='-':
        result = num1 - num2
    return result

In [31]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))
op = input("연산자 입력(+,-) >> ")
result = cal(num1, num2, op)
print(f"결과 : {result}")

첫 번째 정수 입력 >> 10
두 번째 정수 입력 >> 5
연산자 입력(+,-) >> -
결과 : 5

In [28]:
# 여러 개의 숫자를 받아서 모두 더해주는 함수를 만들어보자
def add(*args) :
    return sum(args)

In [30]:
add(7,8,9)

24

In [32]:
def add_sub(num1, num2):
    return num1 + num2, num1 - num2

In [34]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))
result = add_sub(num1, num2)
print(f"결과 : {result}")

첫 번째 정수 입력 >> 7
두 번째 정수 입력 >> 5
결과 : (12, 2)

In [36]:
# 값을 하나씩 가져오는 방법1 : 인덱싱
result[0]

12

In [39]:
# 값을 하나씩 가져오는 방법2 : 다중 변수 입력
result_add, result_minus = add_sub(5,3)
print(result_add)
print(result_minus)

8
2

In [46]:
# 함수 기본값 설정하기
def power_of_n(num, power=2) :
    return num ** power

In [51]:
power_of_n(4,3)

64