In [26]:
for i in range(1,8):
    for j in range(1,i):
        print('*', end = '')
    print('\n')

*

**

***

****

*****

******

In [31]:
num = int(input('줄 수 입력 >> '))
    
for i in range(1, num+2, 1):
    for j in range(1,i):
        print('*', end = '')
    print('\n')

줄 수 입력 >> 8


*

**

***

****

*****

******

*******

********

In [32]:
for i in range(1,8):
    for j in range(1,i):
        print('*', end = '')
    print('\n')

*

**

***

****

*****

******

In [35]:
start = int(input('첫 번째 정수 입력 >> '))
end = int(input('두 번째 정수 입력 >> '))
for i in range(start, end+1) :
    print(i, end = ' ')

첫 번째 정수 입력 >> 1
두 번째 정수 입력 >> 5
1 2 3 4 5

In [40]:
num1 = int(input('첫 번째 정수 입력 >> '))
num2 = int(input('두 번째 정수 입력 >> '))
su = int(input('배수 입력 >> '))
sum = 0
for i in range(num1, num2+1, su) :
    sum += i
print(f'{su}의 배수의 합 : {sum}')

첫 번째 정수 입력 >> 1
두 번째 정수 입력 >> 5
배수 입력 >> 3
3의 배수의 합 : 5

In [5]:
s = ".nohtyp deen uoY ,trohs oot si efiL"
for i in range(0, len(s), -1) :

SyntaxError: incomplete input (1818746781.py, line 2)